@page {
  size: 8.5in 11in;
  width: 100%;
  margin-top: 0cm;
  margin-left: 1cm;
  margin-right: 1cm;
  margin-bottom: 0cm;

}

/*body{
    font-family: "Times New Roman", Times, monospace;
    font-size: 14pt;
    line-height: 28pt;
}*/
