.whitespace {
	color: #FFFFFF;
	opacity: 0.0;
}

.noun {
	color: #FF0000;
}

.adj {
	color: #0000FF;
}

.vrb {
	color: #008000;
}

.advrb {
	color: #FA8072;
}

.rest {
	color: #000000;
}

body{
    font-family: "Times New Roman", Times, monospace;
    font-size: 15pt;
    line-height: 28pt;
}
