.whitespace {
	color: #D3D3D3;
	opacity: 0.0;
}

.noun {
	color: #FF0000;
}

.adj {
	color: #0000FF;
}

.vrb {
	color: #008000;
}

.advrb {
	color: #FFA500;
}

.symb {
	color: #800080;
}

.rest {
	color: #000000;
}

body{
	font-family: monaco,Consolas,Lucida Console,monospace;
	font-size: 13pt;
    line-height: 20pt;
}
